USE [master]
GO
/****** Object:  Database [HDDServer]    Script Date: 2020-05-07 11:46:20 ******/
CREATE DATABASE [HDDServer]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HDDServer', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\HDDServer.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HDDServer_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\HDDServer_log.ldf' , SIZE = 139264KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HDDServer].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HDDServer]
GO
/****** Object:  User [Usr1]    Script Date: 2020-05-07 11:46:20 ******/
CREATE USER [Usr1] FOR LOGIN [Usr1] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [Usr1]
GO
/****** Object:  Table [dbo].[LT079861GraphData]    Script Date: 2020-05-07 11:46:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LT079861GraphData](
	[ServerName] [varchar](300) NULL,
	[TStamp] [datetime] NULL,
	[ServerSize] [bigint] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Server_Log]    Script Date: 2020-05-07 11:46:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Server_Log](
	[ServerName] [varchar](300) NOT NULL,
	[IP] [varchar](max) NULL,
	[Size] [bigint] NULL,
	[TableName] [varchar](max) NULL,
	[Iterations] [int] NULL CONSTRAINT [DF_Server_Log_Iterations]  DEFAULT ((1)),
 CONSTRAINT [PK_Server_Log] PRIMARY KEY CLUSTERED 
(
	[ServerName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Server_Table_LT079861]    Script Date: 2020-05-07 11:46:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Server_Table_LT079861](
	[TBINDEX] [bigint] NULL,
	[Name] [varchar](max) NULL,
	[File Path] [varchar](max) NULL,
	[File Mode] [bigint] NULL,
	[File Index] [bigint] NULL,
	[Device Identifieer] [bigint] NULL,
	[Number of hard Links] [bigint] NULL,
	[User Identifier] [bigint] NULL,
	[Group Identifier] [bigint] NULL,
	[Size In Bytes] [bigint] NULL,
	[Most recent access] [datetime] NULL,
	[Most recent modification] [datetime] NULL,
	[Creation Time] [datetime] NULL,
	[Type] [varchar](max) NULL,
	[Scan Stamp] [datetime] NULL,
	[Server Name] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Server_Table_LT079861_1]    Script Date: 2020-05-07 11:46:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Server_Table_LT079861_1](
	[TBINDEX] [bigint] NULL,
	[Name] [varchar](max) NULL,
	[File Path] [varchar](max) NULL,
	[File Mode] [bigint] NULL,
	[File Index] [bigint] NULL,
	[Device Identifieer] [bigint] NULL,
	[Number of hard Links] [bigint] NULL,
	[User Identifier] [bigint] NULL,
	[Group Identifier] [bigint] NULL,
	[Size In Bytes] [bigint] NULL,
	[Most recent access] [datetime] NULL,
	[Most recent modification] [datetime] NULL,
	[Creation Time] [datetime] NULL,
	[Type] [varchar](max) NULL,
	[Scan Stamp] [datetime] NULL,
	[Server Name] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Server_Table_LT079861_2]    Script Date: 2020-05-07 11:46:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Server_Table_LT079861_2](
	[TBINDEX] [bigint] NULL,
	[Name] [varchar](max) NULL,
	[File Path] [varchar](max) NULL,
	[File Mode] [bigint] NULL,
	[File Index] [bigint] NULL,
	[Device Identifieer] [bigint] NULL,
	[Number of hard Links] [bigint] NULL,
	[User Identifier] [bigint] NULL,
	[Group Identifier] [bigint] NULL,
	[Size In Bytes] [bigint] NULL,
	[Most recent access] [datetime] NULL,
	[Most recent modification] [datetime] NULL,
	[Creation Time] [datetime] NULL,
	[Type] [varchar](max) NULL,
	[Scan Stamp] [datetime] NULL,
	[Server Name] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Server_Table_LT079861_3]    Script Date: 2020-05-07 11:46:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Server_Table_LT079861_3](
	[TBINDEX] [bigint] NULL,
	[Name] [varchar](max) NULL,
	[File Path] [varchar](max) NULL,
	[File Mode] [bigint] NULL,
	[File Index] [bigint] NULL,
	[Device Identifieer] [bigint] NULL,
	[Number of hard Links] [bigint] NULL,
	[User Identifier] [bigint] NULL,
	[Group Identifier] [bigint] NULL,
	[Size In Bytes] [bigint] NULL,
	[Most recent access] [datetime] NULL,
	[Most recent modification] [datetime] NULL,
	[Creation Time] [datetime] NULL,
	[Type] [varchar](max) NULL,
	[Scan Stamp] [datetime] NULL,
	[Server Name] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Server_Table_LT079861_4]    Script Date: 2020-05-07 11:46:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Server_Table_LT079861_4](
	[TBINDEX] [bigint] NULL,
	[Name] [varchar](max) NULL,
	[File Path] [varchar](max) NULL,
	[File Mode] [bigint] NULL,
	[File Index] [bigint] NULL,
	[Device Identifieer] [bigint] NULL,
	[Number of hard Links] [bigint] NULL,
	[User Identifier] [bigint] NULL,
	[Group Identifier] [bigint] NULL,
	[Size In Bytes] [bigint] NULL,
	[Most recent access] [datetime] NULL,
	[Most recent modification] [datetime] NULL,
	[Creation Time] [datetime] NULL,
	[Type] [varchar](max) NULL,
	[Scan Stamp] [datetime] NULL,
	[Server Name] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Server_Table_LT079861_5]    Script Date: 2020-05-07 11:46:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Server_Table_LT079861_5](
	[TBINDEX] [bigint] NULL,
	[Name] [varchar](max) NULL,
	[File Path] [varchar](max) NULL,
	[File Mode] [bigint] NULL,
	[File Index] [bigint] NULL,
	[Device Identifieer] [bigint] NULL,
	[Number of hard Links] [bigint] NULL,
	[User Identifier] [bigint] NULL,
	[Group Identifier] [bigint] NULL,
	[Size In Bytes] [bigint] NULL,
	[Most recent access] [datetime] NULL,
	[Most recent modification] [datetime] NULL,
	[Creation Time] [datetime] NULL,
	[Type] [varchar](max) NULL,
	[Scan Stamp] [datetime] NULL,
	[Server Name] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Server_Table_LT079861_6]    Script Date: 2020-05-07 11:46:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Server_Table_LT079861_6](
	[TBINDEX] [bigint] NULL,
	[Name] [varchar](max) NULL,
	[File Path] [varchar](max) NULL,
	[File Mode] [bigint] NULL,
	[File Index] [bigint] NULL,
	[Device Identifieer] [bigint] NULL,
	[Number of hard Links] [bigint] NULL,
	[User Identifier] [bigint] NULL,
	[Group Identifier] [bigint] NULL,
	[Size In Bytes] [bigint] NULL,
	[Most recent access] [datetime] NULL,
	[Most recent modification] [datetime] NULL,
	[Creation Time] [datetime] NULL,
	[Type] [varchar](max) NULL,
	[Scan Stamp] [datetime] NULL,
	[Server Name] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Server_Table_LT079861_BK_0_20200501]    Script Date: 2020-05-07 11:46:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Server_Table_LT079861_BK_0_20200501](
	[TBINDEX] [bigint] NULL,
	[Name] [varchar](max) NULL,
	[File Path] [varchar](max) NULL,
	[File Mode] [bigint] NULL,
	[File Index] [bigint] NULL,
	[Device Identifieer] [bigint] NULL,
	[Number of hard Links] [bigint] NULL,
	[User Identifier] [bigint] NULL,
	[Group Identifier] [bigint] NULL,
	[Size In Bytes] [bigint] NULL,
	[Most recent access] [datetime] NULL,
	[Most recent modification] [datetime] NULL,
	[Creation Time] [datetime] NULL,
	[Type] [varchar](max) NULL,
	[Scan Stamp] [datetime] NULL,
	[Server Name] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Server_Table_LT079861_BK_0_20200505]    Script Date: 2020-05-07 11:46:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Server_Table_LT079861_BK_0_20200505](
	[TBINDEX] [bigint] NULL,
	[Name] [varchar](max) NULL,
	[File Path] [varchar](max) NULL,
	[File Mode] [bigint] NULL,
	[File Index] [bigint] NULL,
	[Device Identifieer] [bigint] NULL,
	[Number of hard Links] [bigint] NULL,
	[User Identifier] [bigint] NULL,
	[Group Identifier] [bigint] NULL,
	[Size In Bytes] [bigint] NULL,
	[Most recent access] [datetime] NULL,
	[Most recent modification] [datetime] NULL,
	[Creation Time] [datetime] NULL,
	[Type] [varchar](max) NULL,
	[Scan Stamp] [datetime] NULL,
	[Server Name] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[LT079861GraphData] ([ServerName], [TStamp], [ServerSize]) VALUES (N'LT079861', CAST(N'2020-05-07 10:53:18.920' AS DateTime), 156790)
INSERT [dbo].[LT079861GraphData] ([ServerName], [TStamp], [ServerSize]) VALUES (N'LT079861', CAST(N'2020-05-07 10:54:34.287' AS DateTime), 15679045)
INSERT [dbo].[LT079861GraphData] ([ServerName], [TStamp], [ServerSize]) VALUES (N'LT079861', CAST(N'2020-05-07 10:55:55.350' AS DateTime), 15679045)
INSERT [dbo].[Server_Log] ([ServerName], [IP], [Size], [TableName], [Iterations]) VALUES (N'LT079861', N'192.168.0.6', 15678, N'Server_Table_LT079861', 0)
INSERT [dbo].[Server_Log] ([ServerName], [IP], [Size], [TableName], [Iterations]) VALUES (N'LT079861_1', N'192.168.0.6', 153362983, N'Server_Table_LT079861', 0)
INSERT [dbo].[Server_Log] ([ServerName], [IP], [Size], [TableName], [Iterations]) VALUES (N'LT079861_2', N'192.168.0.6', 828065573, N'Server_Table_LT079861', 0)
INSERT [dbo].[Server_Table_LT079861_1] ([TBINDEX], [Name], [File Path], [File Mode], [File Index], [Device Identifieer], [Number of hard Links], [User Identifier], [Group Identifier], [Size In Bytes], [Most recent access], [Most recent modification], [Creation Time], [Type], [Scan Stamp], [Server Name]) VALUES (1, N'images', N'D:\New folder (2)\public\images', 16895, 0, 0, 0, 0, 0, 0, CAST(N'2019-10-17 19:29:09.830' AS DateTime), CAST(N'2019-09-16 13:21:17.497' AS DateTime), CAST(N'2019-10-17 19:29:09.830' AS DateTime), N'dir', CAST(N'2020-05-01 09:38:44.947' AS DateTime), N'LT079861')
INSERT [dbo].[Server_Table_LT079861_2] ([TBINDEX], [Name], [File Path], [File Mode], [File Index], [Device Identifieer], [Number of hard Links], [User Identifier], [Group Identifier], [Size In Bytes], [Most recent access], [Most recent modification], [Creation Time], [Type], [Scan Stamp], [Server Name]) VALUES (1, N'config', N'D:\BLOCKCHAINPROD\.git\config', 33206, 0, 0, 0, 0, 0, 274, CAST(N'2020-03-23 07:38:50.633' AS DateTime), CAST(N'2020-03-23 07:38:50.633' AS DateTime), CAST(N'2020-03-23 07:38:50.633' AS DateTime), N'file', CAST(N'2020-05-01 09:57:58.847' AS DateTime), N'LT079861')
INSERT [dbo].[Server_Table_LT079861_3] ([TBINDEX], [Name], [File Path], [File Mode], [File Index], [Device Identifieer], [Number of hard Links], [User Identifier], [Group Identifier], [Size In Bytes], [Most recent access], [Most recent modification], [Creation Time], [Type], [Scan Stamp], [Server Name]) VALUES (1, N'images', N'D:\New folder (2)\public\images', 16895, 0, 0, 0, 0, 0, 0, CAST(N'2019-10-17 19:29:09.830' AS DateTime), CAST(N'2019-09-16 13:21:17.497' AS DateTime), CAST(N'2019-10-17 19:29:09.830' AS DateTime), N'dir', CAST(N'2020-05-01 09:38:44.947' AS DateTime), N'LT079861')
INSERT [dbo].[Server_Table_LT079861_4] ([TBINDEX], [Name], [File Path], [File Mode], [File Index], [Device Identifieer], [Number of hard Links], [User Identifier], [Group Identifier], [Size In Bytes], [Most recent access], [Most recent modification], [Creation Time], [Type], [Scan Stamp], [Server Name]) VALUES (1, N'config', N'D:\BLOCKCHAINPROD\.git\config', 33206, 0, 0, 0, 0, 0, 274, CAST(N'2020-03-23 07:38:50.633' AS DateTime), CAST(N'2020-03-23 07:38:50.633' AS DateTime), CAST(N'2020-03-23 07:38:50.633' AS DateTime), N'file', CAST(N'2020-05-01 09:57:58.847' AS DateTime), N'LT079861')
INSERT [dbo].[Server_Table_LT079861_5] ([TBINDEX], [Name], [File Path], [File Mode], [File Index], [Device Identifieer], [Number of hard Links], [User Identifier], [Group Identifier], [Size In Bytes], [Most recent access], [Most recent modification], [Creation Time], [Type], [Scan Stamp], [Server Name]) VALUES (1, N'images', N'D:\New folder (2)\public\images', 16895, 0, 0, 0, 0, 0, 0, CAST(N'2019-10-17 19:29:09.830' AS DateTime), CAST(N'2019-09-16 13:21:17.497' AS DateTime), CAST(N'2019-10-17 19:29:09.830' AS DateTime), N'dir', CAST(N'2020-05-01 09:38:44.947' AS DateTime), N'LT079861')
INSERT [dbo].[Server_Table_LT079861_6] ([TBINDEX], [Name], [File Path], [File Mode], [File Index], [Device Identifieer], [Number of hard Links], [User Identifier], [Group Identifier], [Size In Bytes], [Most recent access], [Most recent modification], [Creation Time], [Type], [Scan Stamp], [Server Name]) VALUES (1, N'config', N'D:\BLOCKCHAINPROD\.git\config', 33206, 0, 0, 0, 0, 0, 274, CAST(N'2020-03-23 07:38:50.633' AS DateTime), CAST(N'2020-03-23 07:38:50.633' AS DateTime), CAST(N'2020-03-23 07:38:50.633' AS DateTime), N'file', CAST(N'2020-05-01 09:57:58.847' AS DateTime), N'LT079861')
/****** Object:  Index [ix_Server_Table_LT079861_TBINDEX]    Script Date: 2020-05-07 11:46:21 ******/
CREATE NONCLUSTERED INDEX [ix_Server_Table_LT079861_TBINDEX] ON [dbo].[Server_Table_LT079861]
(
	[TBINDEX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ix_Server_Table_LT079861_TBINDEX]    Script Date: 2020-05-07 11:46:21 ******/
CREATE NONCLUSTERED INDEX [ix_Server_Table_LT079861_TBINDEX] ON [dbo].[Server_Table_LT079861_1]
(
	[TBINDEX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ix_Server_Table_LT079861_TBINDEX]    Script Date: 2020-05-07 11:46:21 ******/
CREATE NONCLUSTERED INDEX [ix_Server_Table_LT079861_TBINDEX] ON [dbo].[Server_Table_LT079861_2]
(
	[TBINDEX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[Check_Table]    Script Date: 2020-05-07 11:46:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Check_Table]
	-- Add the parameters for the stored procedure here
	@IPAddr nvarchar(100),
	@MachineName nvarchar(100)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @IP nvarchar(100) = @IPAddr ,
			@MacNme nvarchar(100) = @MachineName,
			@Table_Name nvarchar(100) = 'Server_Table_' + @MachineName,
			@Table_Count int,
			@SL_Table_Name nvarchar(100),
			@count int,
			@tempcount int,
			@Curr_Date date= GetDate(),
			@Tempdate nvarchar(100)
	SET @Tempdate = REPLACE(CAST(@Curr_Date AS VARCHAR(30)), '-','')
    -- Insert statements for procedure here
	
	SELECT @Table_Count = count(*)
	FROM dbo.Server_Log
	WHERE dbo.Server_Log.ServerName = @MacNme AND dbo.Server_Log.IP = @IP
	
	/*
	IF( @count%60 >= 2)
	BEGIN
	print 'HELLO'
	SET @tempcount = (@count%60) * @tempcount

	DECLARE @SQL2 VARCHAR(1000) = 'UPDATE dbo.Server_Log SET dbo.Server_Log.BackupTableLimit=' +
	CAST(@tempcount AS VARCHAR(MAX)) + 
	' WHERE dbo.Server_Log.ServerName ='+@MacNme + ' AND '+ 'dbo.Server_Log.IP ='+ @IP
	print(@SQL2)
	END
	*/


	If(@Table_Count = 0)
	BEGIN
	print 'creating table'
	/*
	DECLARE @SQL VARCHAR(1000) = 'CREATE TABLE dbo.' + @Table_Name  + '( ' + 
	'[TBINDEX] [bigint] NULL,'+
	'[Name] [varchar](max) NULL,'+
	'[File Path] [varchar](900) NULL,'+
	'[File Mode] [bigint] NULL,'+
	'[File Index] [bigint] NULL,'+
	'[Device Identifier] [bigint] NULL,'+
	'[Number of hard Links] [bigint] NULL,'+
	'[User Identifier] [bigint] NULL,'+
	'[Group Identifier] [bigint] NULL,'+
	'[Size In Bytes] [bigint] NULL,'+
	'[Most recent access] [datetime] NULL,'+
	'[Most recent modification] [datetime] NULL, '+
	'[Creation Time] [datetime] NULL,'+
	'[Type] [varchar](max) NULL,'+
	'[Scan Stamp] [datetime] NULL,'+
	'[Server Name] [varchar](max) NULL'+
	') ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]'
	*/
	DECLARE @SQL VARCHAR(1000) = 'CREATE TABLE dbo.' + @Table_Name  + '( ' + 
	'[TBINDEX] [bigint] NULL,'+
	'[Name] [varchar](max) NULL,'+
	'[FilePath] [varchar](900) NOT NULL,'+
	'[File Mode] [bigint] NULL,'+
	'[File Index] [bigint] NULL,'+
	'[Device Identifier] [bigint] NULL,'+
	'[Number of hard Links] [bigint] NULL,'+
	'[User Identifier] [bigint] NULL,'+
	'[Group Identifier] [bigint] NULL,'+
	'[Size In Bytes] [bigint] NULL,'+
	'[Most recent access] [datetime] NULL,'+
	'[Most recent modification] [datetime] NULL, '+
	'[Creation Time] [datetime] NULL,'+
	'[Type] [varchar](max) NULL,'+
	'[Scan Stamp] [datetime] NULL,'+
	'[Server Name] [varchar](max) NULL'+
	' CONSTRAINT [PK_Table_KEY] PRIMARY KEY CLUSTERED 
	(
		[FilePath] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
	) ON [PRIMARY]'

	EXEC (@SQL)
	RETURN 1
	END

	Else
	BEGIN
	print 'hello'

	SELECT @SL_Table_Name = dbo.Server_Log.TableName,
		   @count = dbo.Server_Log.Iterations
	FROM dbo.Server_Log
	WHERE dbo.Server_Log.ServerName = @MacNme AND dbo.Server_Log.IP = @IP

	
	DECLARE @SQL1 VARCHAR(1000) = 'SELECT * INTO dbo.' +  @SL_Table_Name + 
	'_BK_' + CAST(@count AS VARCHAR(30))+'_'+@TempDate+' FROM ' +  @SL_Table_Name 
	--PRINT(@SQL1)
	EXEC (@SQL1)
	

	/*
	DECLARE @SQL1 VARCHAR(1000) = 'SELECT * INTO dbo.' +  @SL_Table_Name + 
	'_BK_'+@TempDate+' FROM ' +  @SL_Table_Name 
	--PRINT(@SQL1)
	EXEC (@SQL1)
	*/

	DECLARE @SQL2 VARCHAR(1000)= 'TRUNCATE TABLE dbo.'+@SL_Table_Name
	--PRINT(@SQL2)
	EXEC (@SQL2)

	UPDATE dbo.Server_Log SET dbo.Server_Log.Iterations = dbo.Server_Log.Iterations +1
	WHERE dbo.Server_Log.ServerName = @MacNme AND dbo.Server_Log.IP = @IP

	END

END

--exec dbo.Check_Table '10.155.63.59','LT079861'




GO
/****** Object:  StoredProcedure [dbo].[Compare_Tables]    Script Date: 2020-05-07 11:46:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Compare_Tables]
	-- Add the parameters for the stored procedure here
	@Table1 nvarchar(100),
	@Table2 nvarchar(100)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DECLARE @TB1 nvarchar(100) =  @Table1,
			@TB2 nvarchar(100) =  @Table2

	DECLARE @SQL VARCHAR(1000) = 'SELECT A.[Name],A.[File Path],A.[Size In Bytes],B.[Size In Bytes],A.[Scan Stamp],B.[Scan Stamp] FROM ' 
	+ 'dbo.'+@TB1 + ' as A' + ' INNER JOIN '+ 'dbo.' + @TB2 + ' as B'
	+ ' ON '+ 'A.[File Path] ' + '=' + 'B.[File Path]'
	--print (@SQL)
	EXEC (@SQL)

END


-- EXEC dbo.Compare_Tables 'Server_Table_LT079861BLOCKCHAINPROD',Server_Table_LT079861BLOCHAINTEST

GO
/****** Object:  StoredProcedure [dbo].[Graph_Compare]    Script Date: 2020-05-07 11:46:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Graph_Compare]
	-- Add the parameters for the stored procedure here
	@MachineName nvarchar(100),
	@Date nvarchar(100)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DECLARE @MacName nvarchar(100) =  @MachineName,
			@Dte nvarchar(100) = @Date,
			@count nvarchar(20),
			@TBName nvarchar(200),
			@BKTBName nvarchar(200)

	
	SELECT @count = dbo.Server_Log.Iterations
	FROM dbo.Server_Log
	WHERE dbo.Server_Log.ServerName = @MacName

	SET @TBName = 'Server_Table_'+@MacName
	SET @BKTBName = 'Server_Table_'+@MacName + '_BK_'+ @count + '_' + @Dte


	DECLARE @SQL VARCHAR(1000) = 'SELECT A.[Name], A.[File Path],A.[Size in Bytes],B.[Size in Bytes],A.[Scan Stamp],B.[Scan Stamp],A.[Creation Time] FROM ' 
	+ 'dbo.'+@TBName + ' as A' + ' INNER JOIN ' + 'dbo.'+ @BKTBName + ' as B'
	+ ' ON '+ 'A.[File Path] ' + '=' + 'B.[File Path]'
	+ ' WHERE ' + 'A.[Size in Bytes]' + '<>' + 'B.[Size in Bytes]'
	
	--print (@SQL)
	EXEC (@SQL)

END

GO
/****** Object:  StoredProcedure [dbo].[Graph_Data_Update]    Script Date: 2020-05-07 11:46:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================

-- Author:           <Author,,Name>

-- Create date: <Create Date,,>

-- Description:      <Description,,>

-- =============================================

CREATE PROCEDURE [dbo].[Graph_Data_Update]

       -- Add the parameters for the stored procedure here

       @MachineName nvarchar(100)

AS

BEGIN

       -- SET NOCOUNT ON added to prevent extra result sets from

       -- interfering with SELECT statements.

       SET NOCOUNT ON;

	-- Insert statements for procedure here
 

       IF (EXISTS (SELECT *

                 FROM INFORMATION_SCHEMA.TABLES

                 WHERE TABLE_NAME = @MachineName + 'GraphData'))

       BEGIN

              DECLARE @SQL VARCHAR(1000) = 'INSERT INTO dbo.' + @MachineName + 'GraphData'  +

              ' SELECT [dbo].[Server_Log].ServerName,getdate(),[dbo].[Server_Log].Size

              from [dbo].[Server_Log] WHERE [dbo].[Server_Log].ServerName ='''+ @MachineName + ''''

              --PRINT(@SQL)

              EXEC (@SQL)

       END

       ELSE

       BEGIN

              DECLARE @SQL1 VARCHAR(1000) = 'CREATE TABLE dbo.' + @MachineName + 'GraphData'  + '('  +

                           'ServerName varchar(300),'+

                           'TStamp datetime,'+

                           'ServerSize bigint)'

              EXEC (@SQL1)

       END   

 

END
--EXEC [dbo].[Graph_Data_Update] 'LT079861' 


GO
USE [master]
GO
